<div class="table-container">

  <div class="table-header-action">

    <div class="table-header-action-actions">
      <sl-button type="info">View Report</sl-button>
      <sl-button size="medium" caret type="primary">Actions</sl-button>
      <sl-button size="medium" caret>Adjudicate</sl-button>
      <sl-button type="default" size="large" circle><sl-icon name="funnel-fill"></sl-icon></sl-button>
    </div>

  </div>

  <div class="table-container-table">
    <table>
        <tr>
          <th align="center" style="width: 5%"><input type="checkbox"/></th>
          <th align="left" style="width: 20%">Type</th>
          <th align="left" style="width: 25%">Completion Date <sl-icon name="caret-down-fill"></sl-icon></th>
          <th align="left" style="width: 30%">Notes</th>
          <th align="left" style="width: 15%">Status <sl-icon name="caret-down-fill"></sl-icon></th>
          <th align="left" style="width: 5"></th>
        </tr>

        <tr>
          <td align="center" ><input type="checkbox"/></td>
          <td>This is a cell</td>
          <td>04/01/2021</td>
          <td>These are notes</td>
          <td><sl-badge type="primary" pill>Active</sl-badge></td>
          <td><sl-icon name="caret-down-fill"></sl-icon></td>
        </tr>
        <tr>
          <td align="center" ><input type="checkbox"/></td>
          <td>This is a cell</td>
          <td>04/01/2021</td>
          <td>These are notes</td>
          <td><sl-badge type="info" pill>On Hold</sl-badge></td>
          <td><sl-icon name="caret-down-fill"></sl-icon></td>
        </tr>
        <tr>
          <td align="center" ><input type="checkbox"/></td>
          <td>This is a cell</td>
          <td>04/01/2021</td>
          <td>These are notes</td>
          <td><sl-badge type="success" pill>Complete</sl-badge></td>
          <td><sl-icon name="caret-down-fill"></sl-icon></td>
        </tr>
        <tr>
          <td align="center" ><input type="checkbox"/></td>
          <td>This is a cell</td>
          <td>04/01/2021</td>
          <td>These are notes</td>
          <td><sl-badge type="warning" pill>Delayed</sl-badge></td>
          <td><sl-icon name="caret-down-fill"></sl-icon></td>
        </tr>
        <tr>
          <td align="center" ><input type="checkbox"/></td>
          <td>This is a cell</td>
          <td>04/01/2021</td>
          <td>These are notes</td>
          <td><sl-badge type="danger" pill>Canceled</sl-badge></td>
          <td><sl-icon name="caret-down-fill"></sl-icon></td>
        </tr>

    </table>
  </div>
</div>
