table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  width: 5vw;
}

thead {
  background-color: #f2f2f2;;
  padding: 1em 0 1em 0;
  width: 30px;
}

// tr:nth-child(odd) {
//   background-color: #f2f2f2;
// }

table tr {
  line-height: 50px;
}

sl-input {
  width: 30vw;
  margin-right: 1em;
}

sl-button {
  margin-right: 1em;
}


.table-container {
  border: 1px solid #DEE0E2;
  border-radius: 5px;
  box-shadow: 1px 5px 5px grey;
  margin-right: 2em;

  &-table {
    margin-top: 1em;
  }
}
.table-header-action {
  display: flex;
  flex-direction: row;
  margin: 1em 0 0 5em;

  &-actions {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
  }

  .checkboxes {
    width: 20px;
  }

}

// fold table
table.fold-table {
  > tbody {
    // view segment
    > tr.view {
      td, th {cursor: pointer;}
    }

    // fold segment
    > div.fold {
      display: none;
    }
  }
}



// fold content
.fold-content {
  padding: 1em;
  h3 { margin-top:0; }
  > table {
    border: 2px solid #ccc;
    > tbody {
      tr:nth-child(odd) {
        background: #eee;
      }
    }
  }
}

