.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat (12, 1fr);
  height: 100%;
}

.container-details-card {
  grid-column: 1 / 1;
  grid-row: 1 / 12;
  display: flex;
  justify-content: center;
}

.container-progress-card {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.container-table-card {
  grid-column: 2 / 2;
  grid-row: 2 / 12;
}
